In [1]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
key = 'RV2SIKGG44RG7K9C'
ts = TimeSeries(key=key, output_format='json')

/Users/Zjxi/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
tickers = [
    'XIC.TO', 'ZCN.TO', 'XST.TO', 'ZIN.TO', 'XRE.TO',
    'XFN.TO', 'XMA.TO', 'XUT.TO', 'ZUT.TO', 'ZCM.TO',
    'XIT.TO', 'XEG.TO'
]
combined_data = pd.DataFrame()

#loop through each tick and fetch the daily data
for ticker in tickers:
    data, metadata = ts.get_daily(symbol=ticker,
                                  outputsize='full')

    # convert JSON to DataFrame
    df = pd.DataFrame.from_dict(data=data, orient='index')
    df.index.name = 'Date'
    df.reset_index(inplace = True)

    # keep only the date and the closing price
    df = df[['Date', '4. close']]
    df.columns = ['Date', ticker]

    # set the 'Date' column as the index
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index('Date', inplace=True)

    # merge the data into the combined_data
    combined_data = pd.merge(combined_data, df, 
                             how='outer', left_index=True, 
                             right_index=True)

In [15]:
aapl, aaplmeta = ts.get_daily(symbol='AAPL')
aapl

ValueError: Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.

In [6]:
df1 = pd.DataFrame.from_dict(data=aapl, orient='index')
df1

             1. open   2. high    3. low  4. close 5. volume
2024-12-31  252.4400  253.2800  249.4300  250.4200  37830729
2024-12-30  252.2300  253.5000  250.7500  252.2000  35557542
2024-12-27  257.8300  258.7000  253.0600  255.5900  42355321
2024-12-26  258.1900  260.1000  257.6300  259.0200  27262983
2024-12-24  255.4900  258.2100  255.2900  258.2000  23234705
...              ...       ...       ...       ...       ...
2024-08-15  224.6000  225.3500  222.7600  224.7200  46414013
2024-08-14  220.5700  223.0300  219.7000  221.7200  41960574
2024-08-13  219.0100  221.8900  219.0100  221.2700  44155331
2024-08-12  216.0700  219.5099  215.6000  217.5300  38028092
2024-08-09  212.1000  216.7800  211.9700  216.2400  42201646

[100 rows x 5 columns]

In [7]:
df1.index.name = 'Date'
df1

             1. open   2. high    3. low  4. close 5. volume
Date
2024-12-31  252.4400  253.2800  249.4300  250.4200  37830729
2024-12-30  252.2300  253.5000  250.7500  252.2000  35557542
2024-12-27  257.8300  258.7000  253.0600  255.5900  42355321
2024-12-26  258.1900  260.1000  257.6300  259.0200  27262983
2024-12-24  255.4900  258.2100  255.2900  258.2000  23234705
...              ...       ...       ...       ...       ...
2024-08-15  224.6000  225.3500  222.7600  224.7200  46414013
2024-08-14  220.5700  223.0300  219.7000  221.7200  41960574
2024-08-13  219.0100  221.8900  219.0100  221.2700  44155331
2024-08-12  216.0700  219.5099  215.6000  217.5300  38028092
2024-08-09  212.1000  216.7800  211.9700  216.2400  42201646

[100 rows x 5 columns]

In [8]:
df1.reset_index(inplace=True)
df1

          Date   1. open   2. high    3. low  4. close 5. volume
0   2024-12-31  252.4400  253.2800  249.4300  250.4200  37830729
1   2024-12-30  252.2300  253.5000  250.7500  252.2000  35557542
2   2024-12-27  257.8300  258.7000  253.0600  255.5900  42355321
3   2024-12-26  258.1900  260.1000  257.6300  259.0200  27262983
4   2024-12-24  255.4900  258.2100  255.2900  258.2000  23234705
..         ...       ...       ...       ...       ...       ...
95  2024-08-15  224.6000  225.3500  222.7600  224.7200  46414013
96  2024-08-14  220.5700  223.0300  219.7000  221.7200  41960574
97  2024-08-13  219.0100  221.8900  219.0100  221.2700  44155331
98  2024-08-12  216.0700  219.5099  215.6000  217.5300  38028092
99  2024-08-09  212.1000  216.7800  211.9700  216.2400  42201646

[100 rows x 6 columns]

In [9]:
df1 = df1[['Date', '4. close']]
df1

          Date  4. close
0   2024-12-31  250.4200
1   2024-12-30  252.2000
2   2024-12-27  255.5900
3   2024-12-26  259.0200
4   2024-12-24  258.2000
..         ...       ...
95  2024-08-15  224.7200
96  2024-08-14  221.7200
97  2024-08-13  221.2700
98  2024-08-12  217.5300
99  2024-08-09  216.2400

[100 rows x 2 columns]

In [10]:
df1.columns = ['Date', 'IT']
df1

          Date        IT
0   2024-12-31  250.4200
1   2024-12-30  252.2000
2   2024-12-27  255.5900
3   2024-12-26  259.0200
4   2024-12-24  258.2000
..         ...       ...
95  2024-08-15  224.7200
96  2024-08-14  221.7200
97  2024-08-13  221.2700
98  2024-08-12  217.5300
99  2024-08-09  216.2400

[100 rows x 2 columns]

In [11]:
df1['Date'] = pd.to_datetime(df1['Date'])
df1

/var/folders/33/qv3yf4892xld1btchk4myrjc0000gn/T/ipykernel_60158/1017232124.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Date'] = pd.to_datetime(df1['Date'])

         Date        IT
0  2024-12-31  250.4200
1  2024-12-30  252.2000
2  2024-12-27  255.5900
3  2024-12-26  259.0200
4  2024-12-24  258.2000
..        ...       ...
95 2024-08-15  224.7200
96 2024-08-14  221.7200
97 2024-08-13  221.2700
98 2024-08-12  217.5300
99 2024-08-09  216.2400

[100 rows x 2 columns]

In [12]:
df1.set_index('Date', inplace=True)
df1

                  IT
Date
2024-12-31  250.4200
2024-12-30  252.2000
2024-12-27  255.5900
2024-12-26  259.0200
2024-12-24  258.2000
...              ...
2024-08-15  224.7200
2024-08-14  221.7200
2024-08-13  221.2700
2024-08-12  217.5300
2024-08-09  216.2400

[100 rows x 1 columns]

In [13]:
df1.sort_index(inplace=True)
df1

/var/folders/33/qv3yf4892xld1btchk4myrjc0000gn/T/ipykernel_60158/1196050498.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.sort_index(inplace=True)

                  IT
Date
2024-08-09  216.2400
2024-08-12  217.5300
2024-08-13  221.2700
2024-08-14  221.7200
2024-08-15  224.7200
...              ...
2024-12-24  258.2000
2024-12-26  259.0200
2024-12-27  255.5900
2024-12-30  252.2000
2024-12-31  250.4200

[100 rows x 1 columns]